body{
  margin: 10px 0px;
  background: #2a0845;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6441A5, #2a0845);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6441A5, #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}


h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: "georgia", serif;
  font-size: 48x;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 4.6px;
}

h2{
  text-align: center;
  font-family: "georgia", serif;
  font-size: 24px;
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 2px;
}

a{
  color: white;
}

a:hover{
  color: #f49b42;
}

legend{
  text-align: center;
  margin-bottom: 25px;
}

main{
  margin: 10px 5px 30px 5px;
}

th, td {
  text-align: center;
}

.logodesktop{
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.introduction{
  text-align: center;
}

.footer{
  text-align: center;
  bottom: 0;
  position:absolute;
  width:100%;
  height:60px;
}

.footerlongpage{
  text-align: center;
  bottom: 0;
  position: relative;
  height:60px;
}

.registration{
  margin-top: 15px;
}

/* a.btn-group-vertical{ SERVE ANCORA????????????????????????????
  margin-bottom: 0;
  white-space:nowrap;
overflow:hidden;
} */

.initiallyhidden{
  display: none;
}

#interventoselectvisualizza{
font-size: 0.9rem;
}
